<ol id='menu-id-articles-0' class='menu menu-level0 show '>
  <li id='menu-item-articles-1' class='menu-item '>
    <span class='menu-item-row'><a href='/CodexGui/articles/' class='menu-link  '>Documentation</a></span>  </li>
  <li id='menu-item-articles-2' class='menu-item '>
    <span class='menu-item-row'><a href='/CodexGui/articles/getting-started/' class='menu-link  '>Getting Started</a><a href='#menu-id-articles-2' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-2' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-2' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-3' class='menu-item '>
      <span class='menu-item-row'><a href='/CodexGui/articles/getting-started/overview/' class='menu-link  '>Overview</a></span>    </li>
    <li id='menu-item-articles-4' class='menu-item '>
      <span class='menu-item-row'><a href='/CodexGui/articles/getting-started/running-the-app/' class='menu-link  '>Running the App</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-5' class='menu-item '>
    <span class='menu-item-row'><a href='/CodexGui/articles/application/' class='menu-link  '>Application Shell</a><a href='#menu-id-articles-5' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-5' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-5' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-6' class='menu-item '>
      <span class='menu-item-row'><a href='/CodexGui/articles/application/shell-and-transport/' class='menu-link  '>Shell and Transport</a></span>    </li>
    <li id='menu-item-articles-7' class='menu-item '>
      <span class='menu-item-row'><a href='/CodexGui/articles/application/interaction-model/' class='menu-link  '>Interaction Model</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-8' class='menu-item '>
    <span class='menu-item-row'><a href='/CodexGui/articles/markdown/' class='menu-link  '>Markdown Stack</a><a href='#menu-id-articles-8' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-8' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-8' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-9' class='menu-item '>
      <span class='menu-item-row'><a href='/CodexGui/articles/markdown/plugin-ecosystem/' class='menu-link  '>Plugin Ecosystem</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-10' class='menu-item '>
    <span class='menu-item-row'><a href='/CodexGui/articles/development/' class='menu-link  '>Development</a><a href='#menu-id-articles-10' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-10' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-10' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-11' class='menu-item '>
      <span class='menu-item-row'><a href='/CodexGui/articles/development/build-test-and-docs/' class='menu-link  '>Build, Test, and Docs</a></span>    </li>
  </ol>
  </li>
  <li id='menu-item-articles-12' class='menu-item '>
    <span class='menu-item-row'><a href='/CodexGui/articles/reference/' class='menu-link  '>Reference</a><a href='#menu-id-articles-12' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-articles-12' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-articles-12' class='menu menu-level1 collapse '>
    <li id='menu-item-articles-13' class='menu-item '>
      <span class='menu-item-row'><a href='/CodexGui/articles/reference/repository-structure/' class='menu-link  '>Repository Structure</a></span>    </li>
    <li id='menu-item-articles-14' class='menu-item '>
      <span class='menu-item-row'><a href='/CodexGui/articles/reference/roadmap/' class='menu-link  '>Roadmap</a></span>    </li>
  </ol>
  </li>
</ol>
